.dashboard-icon-vector-2-21 {
  position: absolute;
  top: 0;
  left: 0;
  width: 169px;
  height: 126px;
  object-fit: cover;
}
.dashboard1 {
  position: absolute;
  top: 20px;
  left: 265px;
}
.logokadog-removebg-preview-3-icon2 {
  position: absolute;
  top: 3px;
  left: 1238px;
  width: 143px;
  height: 123px;
  object-fit: cover;
}
.titletile1 {
  position: relative;
  width: 1381px;
  height: 126px;
}
.title13 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  font-size: var(--font-size-51xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
