.group-icon6 {
  position: relative;
  width: 55.99px;
  height: 62.84px;
}
.wanwan-u-ling {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 369px;
}
.wanwan-u-ling-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 5px solid var(--color-black);
  box-sizing: border-box;
  width: 710.01px;
  height: 44px;
}
.judge-2 {
  position: absolute;
  top: 44px;
  left: 0;
  font-size: var(--font-size-base);
  display: inline-block;
  width: 683.07px;
}
.minus-removebg-preview-2 {
  position: absolute;
  top: 5px;
  left: 676.01px;
  width: 34px;
  height: 34px;
}
.name3 {
  position: relative;
  width: 710.01px;
  height: 63px;
}
.contact-number3 {
  margin: 0;
  padding-left: var(--padding-lgi);
}
.contact-number2,
.email2 {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  width: 255.35px;
  height: 20px;
}
.email2 {
  top: 20px;
}
.details1 {
  position: relative;
  width: 710.01px;
  height: 41px;
  font-size: var(--font-inherit);
  font-family: var(--font-inherit);
}
.judge-details1,
.name-container {
  width: 710px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.judge-details1 {
  position: absolute;
  top: 182px;
  left: 50px;
  border-radius: var(--br-8xs);
  background-color: var(--color-white);
  width: 859px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-3xs) var(--padding-16xl);
  box-sizing: border-box;
  gap: var(--gap-16xl);
}
.addbtn-removebg-preview-3-icon4 {
  position: absolute;
  top: 22px;
  left: 947px;
  width: 47px;
  height: 47px;
  object-fit: cover;
}
.inside-body11 {
  position: relative;
  background-color: var(--color-lightblue);
  width: 1012px;
  height: 665px;
  overflow-x: auto;
  flex-shrink: 0;
  margin-left: -4px;
}
.body26 {
  width: 1267px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-inter);
}
