.show1 {
  position: relative;
  font-weight: 500;
}
.bicaret-down-fill-icon1 {
  position: relative;
  width: 8px;
  height: 8px;
  overflow: hidden;
  flex-shrink: 0;
}
.group,
.show-group {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.group {
  border-radius: var(--br-5xs);
  background-color: var(--color-gainsboro-100);
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: var(--gap-9xs);
}
.show-group {
  justify-content: center;
  gap: var(--gap-xs);
}
.akar-iconssearch1 {
  position: relative;
  width: 16px;
  height: 16px;
  overflow: hidden;
  flex-shrink: 0;
}
.search1 {
  flex: 1;
  position: relative;
  font-weight: 500;
}
.akar-iconssearch-group,
.frame-parent9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.akar-iconssearch-group {
  flex: 1;
  border-radius: var(--br-5xs);
  border: 1px solid var(--color-darkgray-300);
  align-items: center;
  padding: var(--padding-5xs) var(--padding-4xs);
  gap: var(--gap-5xs);
  color: var(--color-darkgray-300);
}
.frame-parent9 {
  position: absolute;
  top: 16px;
  left: 16px;
  width: 403px;
  align-items: flex-start;
  gap: var(--gap-5xl);
}
.add-record {
  position: relative;
}
.fluentadd-16-filled-group {
  position: absolute;
  top: 16px;
  left: 879px;
  border-radius: var(--br-5xs);
  background-color: var(--color-mediumslateblue);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: var(--gap-5xs);
  color: var(--color-white);
}
.vaccination6 {
  margin: 0;
}
.vaccination5 {
  position: absolute;
  top: 12px;
  left: 484px;
  font-size: var(--font-size-17xl);
  display: inline-block;
  font-family: var(--font-inter);
  width: 751.5px;
}
.div21 {
  position: relative;
  background-color: var(--color-white);
  width: 1019px;
  height: 64px;
  text-align: left;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-montserrat);
}
